<!-- Mostrar las playlists -->
<div class="playlists">
  <h2>Playlists</h2>
  <div *ngFor="let playlist of playlists">
    <h3 (click)="selectPlaylist(playlist)">{{ playlist.name }}</h3>
  </div>
</div>

<!-- Mostrar las canciones de la playlist seleccionada -->
<div class="songs" *ngIf="selectedPlaylist">
  <h4>Canciones en la playlist: {{ selectedPlaylist.name }}</h4>
  <ul>
    <li *ngFor="let song of selectedPlaylist.songs" (click)="playSong(song)">
      {{ song.title }}
    </li>
  </ul>
</div>

<!-- Reproductor de audio -->
<div class="player" *ngIf="currentSong">
  <h3>Reproduciendo: {{ currentSong.title }}</h3>

  <!-- Agregamos el evento (ended)="nextSong()" -->
  <audio id="audioPlayer"
         controls
         [src]="audioSource"
         (ended)="nextSong()"> <!-- Esto hace que avance a la siguiente canción -->
  </audio>

  <div>
    <button (click)="previousSong()">Anterior</button>
    <button (click)="nextSong()">Siguiente</button>
  </div>
</div>

<!-- Crear lista de reproducción aleatoria -->
<div class="random-playlist">
  <h3>Crear lista de reproducción aleatoria</h3>
  <input type="number" [(ngModel)]="randomPlaylistSize" placeholder="Número de canciones" />
  <button (click)="createRandomPlaylist()">Crear Playlist Aleatoria</button>
</div>


<!--crear usuario lista  canciones-->
<h2>Selecciona canciones para tu playlist personalizada</h2>

<!-- Iterar sobre todas las canciones de playlistsCopyOrigin -->
<div *ngFor="let playlist of playlistsCopyOrigin">
  <div *ngFor="let song of playlist.songs">
    <input type="checkbox" 
           (change)="toggleSongSelection(song, $event)">
    {{ song.title }}
  </div>
</div>

<!-- Botón para crear la playlist personalizada -->
<button (click)="createCustomPlaylist()">Crear Playlist Personalizada</button>
