<!-- Mostrar las playlists -->
<div class="playlists">
  <h2>Playlists</h2>
  <div *ngFor="let playlist of playlists">
    <h3 (click)="selectPlaylist(playlist)">{{ playlist.name }}</h3>
  </div>
</div>

<!-- Mostrar las canciones de la playlist seleccionada -->
<div class="songs" *ngIf="selectedPlaylist">
  <h4>Canciones en la playlist: {{ selectedPlaylist.name }}</h4>
  <ul>
    <li *ngFor="let song of selectedPlaylist.songs" (click)="playSong(song)">
      {{ song.title }}
    </li>
  </ul>
</div>

<!-- Reproductor de audio -->
<div class="player" *ngIf="currentSong">
  <h3>Reproduciendo: {{ currentSong.title }}</h3>
  <audio id="audioPlayer" controls [src]="audioSource"></audio>
  <div>
    <button (click)="previousSong()">Anterior</button>
    <button (click)="nextSong()">Siguiente</button>
  </div>
</div>

<app-statistics></app-statistics> <!-- Aquí se incluye el componente de estadísticas -->
